.banner {
	height: 50vh;
	background-color: #000;

	background-image: url(../img/SL_Arkan.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.banner__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #000;

	height: 100%;
	opacity: 0.6;
}

.banner__title {
	font-size: 26px;
	line-height: 39px;
	color: #fff;

	text-align: center;
	text-transform: uppercase;
}
