.popup {
	margin: 0;
	padding: 20px 0px;
	padding-top: 60px;
	position: fixed;

	top: 15%;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	max-width: 411px;

	background-color: white;

	border: 1px solid #000;
}

.button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	border: 0;

	&::after,
	&::before {
		content: "";

		position: absolute;
		top: 15px;
		right: 0px;

		display: block;
		width: 35px;
		height: 3px;

		background-color: #000;
	}

	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}

.popup__text {
	margin: 0;
	padding: 50px;

	text-align: center;
}

.not-show {
	display: none;
}
