.popup {
	margin: 0;
	padding: 0;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	max-width: 411px;
	height: 100vh;

	background-color: blue;
	background-image: url(../img/optimize/opoup.jpg);
	background-size: cover;
	background-position: 50%;
	border: 1px solid #000;

	color: white;
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	background-color: #000;
	opacity: 0.6;

	height: 100%;
}

.button {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 35px;
	height: 35px;

	border: 0;

	background-color: transparent;

	&::after,
	&::before {
		content: "";

		position: absolute;
		top: 15px;
		right: 0px;

		display: block;
		width: 35px;
		height: 3px;

		background-color: #fff;
	}

	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}

.popup__text {
	margin: 0;
	padding: 10px;

	text-align: center;
	font-size: 22px;
	line-height: 33px;
	font-weight: bold;
}

.not-show {
	display: none;
}
