body {
	max-width: 414px;
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #000;

	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

@import "_header.scss";
@import "_banner";
@import "_content.scss";
@import "links";
@import "_footer.scss";
@import "_popup.scss";
